# TUPLE

In [2]:
#Create two tuples (1,4,5,6,7,8) (5,6,7,8,9)

tuple1 = (1,4,5,6,7,8)
tuple2 = (5,6,7,8,9)

#Find the common elements between two tuples

x = set(tuple1)
y = set(tuple2)

z = x.intersection(y)
print("Commonalities between Tuples :",z)

#Concatenate both tuples and remove duplicates from tuple

new_tuple= tuple1 + tuple2
print(new_tuple)

dup = set(new_tuple)
org = tuple(dup)
print("Updated set is:",org)

#Find the index value of 9 (after concatenation)

find9 = new_tuple[9]
print("Index value of 9 is:",find9)

#multiply above elements 3 times

mul = org*3
print("Tuple times thrice is:",mul)

Commonalities between Tuples : {8, 5, 6, 7}
(1, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9)
Updated set is: (1, 4, 5, 6, 7, 8, 9)
Index value of 9 is: 8
Tuple times thrice is: (1, 4, 5, 6, 7, 8, 9, 1, 4, 5, 6, 7, 8, 9, 1, 4, 5, 6, 7, 8, 9)

# SET

In [3]:
#Create two empty sets

set1 = set()
set2 = set()

#update set1 with 7,8,9,1,2,3,4,5,0

new_set1 = (7,8,9,1,2,3,4,5,0)
set1.update(new_set1)
print("the updated set1 is:",set1)

#update set2 with 4,5,6,0

new_set2 = (4,5,6,0)
set2.update(new_set2)
print("the updated set2 is:",set2)

#check whether set2 is subset of set1 or no

x = set2.issubset(set1)
print(x)

#check whether both have common elements are no ?

common = set1.intersection(set2)
print("Commonalities between two sets are:",common)

#remove 8 from set 1 and set 2 ==> find the inferences

set1.remove(8)
print("8 is removed from both sets, results in:",set1)

#discard 0 from set1 and set2

set1.discard(0)
set2.discard(0)             
print("Discardal of Zero by set1 is {} and set2 is {} ".format(set1,set2))

the updated set1 is: {0, 1, 2, 3, 4, 5, 7, 8, 9}
the updated set2 is: {0, 4, 5, 6}
False
Commonalities between two sets are: {0, 4, 5}
8 is removed from both sets, results in: {0, 1, 2, 3, 4, 5, 7, 9}
Discardal of Zero by set1 is {1, 2, 3, 4, 5, 7, 9} and set2 is {4, 5, 6}

# DICTIONARY

In [4]:
#create a dictionary using input {1:["english","maths","science"], 2:[10,20,30], 3:["bio-botany","bio-zoology","Algebra"]}

dict1 = {1:["english","maths","science"],
         2:[10,20,30],
         3:["bio-botany","bio-zoology","Algebra"]}
print(dict1)

x = dict1.get(3)
print("The key3 values are:",x)
y = x[0]

#Extract "bobtn" from above dictionary

var_bobtn = y[0]+y[2]+y[4]+y[6]+y[8]
print("the extract output1:",var_bobtn)

#Extract "arbeg" from above dictionary

z= x[2]
var_arbeg = z[0]+z[5]+z[4]+z[3]+z[2]
print("the extract output2 is:",var_arbeg)

#print all keys in dictionary and convert it into tuple

allkeys = dict1.keys()
print("The keys are in dictionaries are:",allkeys)

tup1 = tuple(allkeys)
print("the keys in tuple format :",tup1)

#Find the average of all numbers available under key "2"

key2 = dict1.get(2)
print("the key2 values are:",key2)
sum1= sum(key2)
mean = (sum1/len(key2))
print("the mean of key2 value is:",mean)

{1: ['english', 'maths', 'science'], 2: [10, 20, 30], 3: ['bio-botany', 'bio-zoology', 'Algebra']}
The key3 values are: ['bio-botany', 'bio-zoology', 'Algebra']
the extract output1: bobtn
the extract output2 is: Arbeg
The keys are in dictionaries are: dict_keys([1, 2, 3])
the keys in tuple format : (1, 2, 3)
the key2 values are: [10, 20, 30]
the mean of key2 value is: 20.0