In [ ]:
#23rd of January
#Data Types
#Variables can store data of different types, and different types can do different things.
#Text Type--string
#Numeric Types--integer, float, complex
#Boolean Type--boolean

In [3]:
#Numeric Type
#Integer-->It contains positive or negative whole numbers 
a=99
print(a)
print(type(a))
#Float-->It is a real number with floating point representation. It is specified by a decimal point.
b=4.98
print(b)
print(type(b))
#Complex-->Its specified as real part+imaginary part with j
c=9+6j
print(c)
print(type(c))

99
<class 'int'>
4.98
<class 'float'>
(9+6j)
<class 'complex'>

In [4]:
#Text type
#String-->Strings can be created by enclosing characters inside a single quote or double-quotes.
a="New Zealand"
print(a)
print(type(a))

New Zealand
<class 'str'>

In [6]:
#Boolean Type-->One of built-in data type
a = True
b = False
print(a)
print(type(a))
print(b)
print(type(b))

True
<class 'bool'>
False
<class 'bool'>

In [7]:
#24th of January
#Rules for creating variables in python.
#Variables should be usable name 
var1=9000
var2=9890
print(var1,var2)

9000 9890

In [11]:
#Variables should contain a-z A-Z 0-9 _
var1="b"
var2="D"
var3= 5
print(var1,var2,var3)

b D 5

In [12]:
#Variable should not start with numbers
var1=900
var2=700
print(var1,var2)

900 700

In [13]:
#Variable should not have space in it. 
var a=99
print(var a)

SyntaxError: invalid syntax (<ipython-input-13-696687e694a9>, line 2)

In [14]:
#Try to use camel case as mush as possible for ling variable
variableEmpSalary=34444
variableEmpClaim=245352
variableEmpPf=432412
print(variableEmpSalary,variableEmpClaim,variableEmpPf)

34444 245352 432412

In [15]:
#Variable names are case sensitive
Batsman&Umpire="kumar dharmasena"
print(Batsman_Umpire)

SyntaxError: cannot assign to operator (<ipython-input-15-83a5b657ea43>, line 2)

In [ ]:
#25th of January
#Python Operators
#Comparison Operators -->Its used to compare two values
#such as ==,!=,>,<,>=,<=...

In [17]:
var1=8
var2=1
print(var1==var2)
print(var1!=var2)
print(var1<var2)
print(var1>=var2)

False
True
False
True

In [18]:
#Assingnment operator-->assign values to variables
#such as =,+=,-=,*=,%=,/=,
a=9
b=0
print(a)

9

In [20]:
#Logical operator-->Combine conditional statements 
#such as and,or,not
x=8
y=2
print(x<y and x==y)
print(x<y and x!=y)
print(x>y and x==y)
print(x>y and x!=y)

False
False
False
True

In [21]:
input1=89
input2=69
print(input1>input2 or input1==input2)
print(input1>input2 or input1!=input2)
print(input1<input2 or input1==input2)
print(input1<input2 or input1!=input2)

True
True
False
True

In [22]:
#ternary operator
a=9
x=27 if a>2 else 89
print("the value of x is:",x)

the value of x is: 27

In [25]:
#Membership operator-->a value is presented in or not in object
print(5 in [1,2,3,4,5])
print("o" in "cricket")
print("t" in "south africa")

True
False
True

In [28]:
#Bitwise operator-->bitwise calculations on integer
#such as AND,OR,NOT,XOR
a=11 #1011
b=2  #0010
print("a & b=",a & b) #0000
print("a | b=",a | b) #0100
print("~a =",~a)#-1011
print("a ^ b=",a ^ b) #1110

a & b= 2
a | b= 11
~a = -12
a ^ b= 9